RAG Chatbot.json
{
  "name": "RAG Chatbot using Pinecone Vector Store",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -944,
        976
      ],
      "id": "6fca54ef-2075-4087-96a4-0b12ce3f258b",
      "name": "When chat message received",
      "webhookId": "8aab55eb-c715-408e-ba9b-486e58c2b1e0"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant. Pretend that you are a human and never let the user know that you are an AI, so no ai terminology in your output or response."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -752,
        976
      ],
      "id": "77b54bbb-536e-4078-bdd0-948c4fbaa261",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -752,
        1360
      ],
      "id": "45caabf3-e276-420b-91c7-04903bec96bb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "openai/gpt-3.5-turbo",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -944,
        1360
      ],
      "id": "f68fa9ec-7f9f-4c2c-b449-bac2992addc0",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Jh3nESqXcdafLakk",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1VKk1hDoEUr6Vn9lW9F_CWU1xIFgAzsS6",
          "mode": "list",
          "cachedResultName": "RAG Chatbot",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1VKk1hDoEUr6Vn9lW9F_CWU1xIFgAzsS6"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2224,
        704
      ],
      "id": "0ff140f3-8532-44c4-94d1-69829305f7af",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DbpKxT2lnZ7A6F1w",
          "name": "try.hardikjain@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2000,
        704
      ],
      "id": "93b53bb4-7c1c-4ab5-a64a-cc796c5a965b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DbpKxT2lnZ7A6F1w",
          "name": "try.hardikjain@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-chatbot",
          "mode": "list",
          "cachedResultName": "rag-chatbot"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1744,
        704
      ],
      "id": "2d939a3e-940c-4f76-b343-9265e5026159",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "0pzLIEM9sL9azvw4",
          "name": "chatbot"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1776,
        928
      ],
      "id": "23e55a69-a42a-4931-b4a7-117791d6b82f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Q4vYI73inrm01EPk",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1648,
        928
      ],
      "id": "974a8cff-bbda-4a91-9b29-d1f92678de8a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -1568,
        1136
      ],
      "id": "eeef68ef-e61d-415b-8444-db2da8772939",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access the policy and FAQ database",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-chatbot",
          "mode": "list",
          "cachedResultName": "rag-chatbot"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -560,
        1168
      ],
      "id": "b59f7e21-9d5a-49ac-a01b-25fe76911a49",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "0pzLIEM9sL9azvw4",
          "name": "chatbot"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -608,
        1344
      ],
      "id": "50096470-60f7-4134-81ec-a5569ad005c0",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Q4vYI73inrm01EPk",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ec63cefa-b14c-4985-8ad1-c0b6ffcf9d2e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f7eedfd9a76108ae703c50a491a2cd1bc4603fee5befd7aa9838f228ccb2e4b"
  },
  "id": "p2A6qbobWzwKgJpy",
  "tags": []
}